<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.darrenpmeyer.pyzoomlist</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/dmeyer/bin/pyzoomproc.py</string>
        <string>/Users/dmeyer/bin/onair</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>10</integer>

    <key>StandardOutPath</key>
    <string>/tmp/pyzoomproc.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/pyzoomproc.stderr</string>
</dict>
</plist>
